/* Desktop styles */
#about {
    background-color: #f9f9f9;
    max-width: 100%;
    min-height: 30rem;
    padding: 20px 0;
  }

  #about h1 {
    text-align: center;
  }
  

  #about .container {
   
    margin: 0 auto;
  }
  
  #about img {
    display: block;
    margin: 0 auto 20px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  
  #about p {
    font-size: 18px;
    line-height: 1.5;
    margin:0 .5rem 1rem .5rem;
  }
  
 

  #about a.btn {
    display: block;
    padding: 20px 25px;
    background-color: #EDF1D6;
    color: #40513B;
    text-decoration: none;
    border-radius:2.5rem;
    margin: 0 auto;
    max-width: 8rem;


  }
  
  #about a.btn:hover {
    background-color: #9DC08B;
    color: #EDF1D6;
  }
  
  /* Mobile styles */
  @media (max-width: 767px) {
    #about {
      padding: 30px 0;
    }
  
    #about h2 {
      font-size: 24px;
    }
  
    #about img {
      width: 150px;
      height: 150px;
    }
  
    #about p {
      font-size: 16px;
    }
  
    #about h3 {
      font-size: 20px;
    }
  
    #about li {
      font-size: 16px;
    }
  
   
  }