.contact-form {
    background-color: #40513B;
    padding: 50px 0;
    max-width: 100%;
    text-align: center;
  }
  
  .contact-form .container {
    margin: 0 auto;
    text-align: center;
    max-width: 50rem;
    display: block;
  }
  
  form {
    max-width: 100%;
  }
  
  .form-group {
    margin-bottom: 20px;
    max-width: 100%;
  }
  
  label {
    display: block;
    font-size: 1.15rem;
    margin-bottom: 5px;
    color: #EDF1D6;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 60%;
  }
  
  textarea {
    height: 150px;
    resize: none;
  }
  
  button[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 20px 25px;
    border: none;
    border-radius: 2.5rem;
    background-color: #EDF1D6;
    color: #40513B;
    font-size: 1.05rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #9DC08B;
    color: aliceblue;
  }
  
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 24px;
    }
  
    form {
      width: 100%;
    }
  }