/* Default styles for desktop */
footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
  }
  
  footer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .footer-menu a {
    text-decoration: none;
  }

  
  .footer-menu li {
    display: inline-block;
    margin-right: 20px;
  }

  .social-icons i {
    text-align: center;
  }

  .legal {
    margin-top: 20px;
    font-size: 14px;
  }

  /* Responsive styles for mobile */
  @media (max-width: 767px) {
    .footer-menu {
      max-width: 100%;
      text-align: center;
    }
    .container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-menu li {
      display: block;
      margin-bottom: 10px;
    }
  
    .social-icons {
      margin-top: 10px;
    }
  
  }