.hero {
    max-width: 70%;
    min-height: 35rem;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   overflow: hidden;
   z-index: 5;
  }

/* .hero::before {
  content: "";
  height: 20rem;
  width: 20rem;
  position: absolute;
  left: 15rem;
  top:5%;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  background-color: #40513B;
  z-index: -1;
  transform: rotate(-40deg);
} */

  .hero .container {
    display: flex;
    align-items: center;
    justify-content:space-around;
    
  }

  .hero img {
    max-width: 85%;

  }
  
  .hero-content {
    max-width: 55%;
    margin: 0 auto;
    
    color: #40513B;
  }

  .hero .container div:nth-child(2) {
    max-width: 45%;
  }
  
  .hero h1 {
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.15rem;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 20px 25px;
    background-color: #EDF1D6;
    color: #40513B;
    border-radius: 2.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: .75rem 0;
    font-weight: 600;
  }
  
  .btn:hover {
    background-color: #9DC08B;
    color: #fff;
  }

  @media (max-width: 800px) {
    .hero {
      max-width: 100%;
    }
    .hero .container {
      flex-direction: column-reverse;
      text-align: center;
    }

    .hero-content {
      max-width: 80%;
    }

    .hero img {
      max-width: 90%;
    }

  }