main {
  max-width: 100%;
  background-color:#40513B;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav {
  
    min-height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    max-width: 60rem;
    margin: 0 auto;
   
  }

  .logo a {
    color:aliceblue;
    font-size: 1.75rem;
    padding-left: .5rem;
    font-weight: 700;
    text-decoration: none;
  }
  
  .menu-toggle {
    color:aliceblue;
    font-size: 24px;
    cursor: pointer;
    display: none;
  }
  /*  */
  .menu-visible {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .menu-visible li {
    margin: 0 10px;
  }
  
  #menu a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 700;
  }
  /*  */
  @media (max-width: 768px) {
    .menu-toggle {
      display: block;
    }

    .menu-toggle i {
      text-align: center;
      display:flex ;
      align-items: center;
      justify-content: center;
    }
    .menu-visible {
      display: none;
    
    }

    .menu-show {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-color: #333;
      padding: 10px 0;
      
    }

    .menu-show li {
      margin: .75rem 0;
    }
    .menu li {
      margin: 10px 0;
    }
    .menu a {
      font-size: 16px;
    }
    .menu.active {
      display: flex;
    }
  }