.projects {
    background-color: #f7f7f7;
    padding: 50px 0;
  }
  
  
  .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
  }
  
  .project-item {
    position: relative;
    overflow: hidden;
  }
  
  .project-item img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }
  
  .project-item:hover img {
    transform: scale(1.1);
  }
  
  .project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(64, 81, 59, 0.7) ;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .project-item:hover .project-overlay {
    opacity: 1;
  }
  
  .project-overlay h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .project-overlay p {
    margin-bottom: 20px;
    color: #fff;
  }
  
  .project-overlay .btn {
    margin-top: auto;
  }